node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

src/**/__snapshots__/**/*

# misc
.DS_Store
.env*

npm-debug.*
yarn-debug.*
yarn-error.*

.idea
